[submodule "pytorch-CycleGAN-and-pix2pix"]
	path = cyclegan
	url = https://github.com/beerboaa/pytorch-CycleGAN-and-pix2pix.git
[submodule "cycada_release"]
	path = cycada
	url = https://github.com/beerboaa/cycada_release.git
